@font-face {
  font-family: 'Sour Gummy';
  src: url('/fonts/SourGummy.woff2') format('woff2'),
       url('/fonts/SourGummy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}